.top {
  background-image: linear-gradient(to right, #5d8c9c, #ccdce0);

  > * {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.content {
  padding: 0 2rem 2rem 2rem;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
