.hero {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &__left {
    margin-top: auto;
    margin-bottom: auto;
    p {
      max-width: 400px;
    }
  }

  @media (max-width: 860px) {
    flex-direction: column;
    justify-content: center;

    &__left {
      text-align: center;

      p {
        max-width: 100%;
      }
    }

    &__right {
      iframe {
        width: 100%;
      }
    }
  }
}
