.nav {
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  padding: 1rem;
  width: 100%;

  &__brand {
    color: #fff;
  }

  &__links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &--link {
      &:not(:first-child) {
        margin-left: 2rem;
      }

      a {
        color: black;
      }
    }
  }

  @media (max-width: 450px) {
    flex-direction: column;
  }
}
