.card {
  border: 2px solid #e7e7e7;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s;

  &__title {
    text-align: center;
    text-transform: capitalize;
  }

  &__image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
